<div style="background-color: #eee3d3">
<h1> 1-clean_HILIC_POS_peakTable.ipynb </h1>
</div>

# Change peak table form

In this notebook, we will change the form of the peak table to have the variables in columns and samples in rows. We will also add the groups (Liver Cancer vs. Case control) as a column with the metadata text file.

---

# Import modules

In [75]:
import pandas as pd

# Import peak table HILIC POS

In [76]:
path_peakTable = input('Enter absolute path to the peak table txt file : ')

Enter absolute path to the peak table txt file :  /home/vincentm/MLnotebooks/metabopipeline_notebooks/data/HILIC_POS_results/process_output_quantid_pos_camera_metfrag/peaktablePOSout_pos_metfrag.txt

In [107]:
peakTable_HILIC_POS = pd.read_csv(path_peakTable, sep='\t', decimal='.', na_values='NA')

In [108]:
peakTable_HILIC_POS.head()

,dataMatrix,EPIC_Liver_Cancer_NR160809_007_41_LivCan_153_007.mzML,EPIC_Liver_Cancer_NR160809_008_41_LivCan_154_008.mzML,EPIC_Liver_Cancer_NR160809_009_41_LivCan_267_009.mzML,EPIC_Liver_Cancer_NR160809_010_41_LivCan_268_010.mzML,EPIC_Liver_Cancer_NR160809_014_21_LivCan_299_014.mzML,EPIC_Liver_Cancer_NR160809_015_21_LivCan_300_015.mzML,EPIC_Liver_Cancer_NR160809_018_22_LivCan_085_018.mzML,EPIC_Liver_Cancer_NR160809_019_22_LivCan_086_019.mzML,EPIC_Liver_Cancer_NR160809_020_25_LivCan_309_020.mzML,...,EPIC_Liver_Cancer_NR160809_270_35_LivCan_161_270.mzML,EPIC_Liver_Cancer_NR160809_271_35_LivCan_162_271.mzML,EPIC_Liver_Cancer_NR160809_272_72_LivCan_395_272.mzML,EPIC_Liver_Cancer_NR160809_273_72_LivCan_396_273.mzML,EPIC_Liver_Cancer_NR160809_274_32_LivCan_079_274.mzML,EPIC_Liver_Cancer_NR160809_275_32_LivCan_080_275.mzML,EPIC_Liver_Cancer_NR160809_281_22_LivCan_375_281.mzML,EPIC_Liver_Cancer_NR160809_282_22_LivCan_376_282.mzML,EPIC_Liver_Cancer_NR160809_283_71_LivCan_165_283.mzML,EPIC_Liver_Cancer_NR160809_284_71_LivCan_166_284.mzML
0,variable_3,19.761786,19.735279,19.116076,19.376875,19.555938,19.377437,19.526568,19.349326,19.610237,...,19.289850,18.755673,19.206871,19.072781,18.642347,19.664978,19.301954,19.170626,18.869505,18.954904
1,variable_5,14.635833,15.193396,15.446714,15.460525,14.515536,14.913215,14.648653,14.454301,14.713504,...,13.975330,14.763973,14.132566,14.000931,14.827403,14.447858,14.839941,14.291711,14.440576,NaN
2,variable_6,22.185582,20.831414,22.152604,22.169389,22.150249,22.198844,22.092599,22.093306,22.006737,...,21.387145,20.905625,21.151963,20.995952,21.020579,20.808503,21.085175,21.381912,20.961485,20.005032
3,variable_7,16.414744,15.052533,16.410827,16.403964,16.372219,16.428678,16.311085,16.302336,16.196649,...,15.588615,15.157680,15.429988,15.693299,15.238728,15.027154,15.321075,15.197205,14.829978,NaN
4,variable_8,12.615143,NaN,NaN,12.720767,12.314019,NaN,12.472396,NaN,12.438756,...,12.545073,12.435317,12.541107,12.839636,NaN,12.648327,12.510670,12.499558,12.312338,12.414258

In [109]:
peakTable_HILIC_POS.shape

(557, 187)

The peak table contains variables in rows (557 variables) and samples in columns (186 samples).

# Import sample metadata

In [80]:
path_sampleMetadata = input('Enter absolute path to the sample metadata txt file : ')

Enter absolute path to the sample metadata txt file :  /home/vincentm/MLnotebooks/metabopipeline_notebooks/data/HILIC_POS_results/process_output_quantid_pos_camera_metfrag/metadataPOSout_pos_metfrag.txt

In [110]:
metadata_HILIC_POS = pd.read_csv(path_sampleMetadata, sep='\t', decimal='.', na_values='NA')

In [111]:
metadata_HILIC_POS.head()

                                      sampleMetadata    Class    Groups   X
0  EPIC_Liver_Cancer_NR160809_007_41_LivCan_153_0...  Samples  Incident NaN
1  EPIC_Liver_Cancer_NR160809_008_41_LivCan_154_0...  Samples  Non_case NaN
2  EPIC_Liver_Cancer_NR160809_009_41_LivCan_267_0...  Samples  Incident NaN
3  EPIC_Liver_Cancer_NR160809_010_41_LivCan_268_0...  Samples  Non_case NaN
4  EPIC_Liver_Cancer_NR160809_014_21_LivCan_299_0...  Samples  Incident NaN

In [112]:
metadata_HILIC_POS.shape

(186, 4)

In [113]:
metadata_HILIC_POS.insert(1, 'SampleID', ['_'.join(filename.split('_')[6:8]) for filename in metadata_HILIC_POS['sampleMetadata']])

In [114]:
metadata_HILIC_POS

,sampleMetadata,SampleID,Class,Groups,X
0,EPIC_Liver_Cancer_NR160809_007_41_LivCan_153_0...,LivCan_153,Samples,Incident,NaN
1,EPIC_Liver_Cancer_NR160809_008_41_LivCan_154_0...,LivCan_154,Samples,Non_case,NaN
2,EPIC_Liver_Cancer_NR160809_009_41_LivCan_267_0...,LivCan_267,Samples,Incident,NaN
3,EPIC_Liver_Cancer_NR160809_010_41_LivCan_268_0...,LivCan_268,Samples,Non_case,NaN
4,EPIC_Liver_Cancer_NR160809_014_21_LivCan_299_0...,LivCan_299,Samples,Incident,NaN
...,...,...,...,...,...
181,EPIC_Liver_Cancer_NR160809_275_32_LivCan_080_2...,LivCan_080,Samples,Non_case,NaN
182,EPIC_Liver_Cancer_NR160809_281_22_LivCan_375_2...,LivCan_375,Samples,Incident,NaN
183,EPIC_Liver_Cancer_NR160809_282_22_LivCan_376_2...,LivCan_376,Samples,Non_case,NaN
184,EPIC_Liver_Cancer_NR160809_283_71_LivCan_165_2...,LivCan_165,Samples,Incident,NaN
185,EPIC_Liver_Cancer_NR160809_284_71_LivCan_166_2...,LivCan_166,Samples,Non_case,NaN

In [115]:
EPIC_Liver_sample_informations = pd.read_csv('/home/vincentm/MLnotebooks/metabopipeline_notebooks/data/metadata/EPIC-Liver_sample_informations.csv')
EPIC_Liver_sample_informations = EPIC_Liver_sample_informations[EPIC_Liver_sample_informations['Id Metabo'].isin(metadata_HILIC_POS['SampleID'])]
EPIC_Liver_sample_informations = EPIC_Liver_sample_informations.set_index('Id Metabo')
EPIC_Liver_sample_informations = EPIC_Liver_sample_informations.reindex(index=metadata_HILIC_POS['SampleID'])
EPIC_Liver_sample_informations = EPIC_Liver_sample_informations.reset_index()
EPIC_Liver_sample_informations = EPIC_Liver_sample_informations[['SampleID', 'CaseCtrl', 'Match_Caseset', 'Typ_Tumo', 'Case_HCC_Wide', 'Idepic', 'Idepic_Bio', 'Id Aliquot']]
EPIC_Liver_sample_informations = EPIC_Liver_sample_informations.rename(columns={'CaseCtrl': 'Groups', 'Match_Caseset': 'MatchCaseset', 'Typ_Tumo': 'TypTumo', 'Case_HCC_Wide': 'CaseHCCWide', 'Idepic': 'EPICID', 'Idepic_Bio': 'EPICBioID', 'Id Aliquot': 'AliquotID'})

In [116]:
EPIC_Liver_sample_informations

,SampleID,Groups,MatchCaseset,TypTumo,CaseHCCWide,EPICID,EPICBioID,AliquotID
0,LivCan_153,Incident,82,HCC/,Yes,41____41041872,41____41041872,41041872-s2#C
1,LivCan_154,Non-case,82,NaN,No,41____41046868,41____41046868,41046868-s2#C
2,LivCan_267,Incident,427,HCC/,Yes,41____41074588,41____41074588,41074588-s1#B
3,LivCan_268,Non-case,427,NaN,No,41____41089214,41____41089214,41089214-s1#B
4,LivCan_299,Incident,376,HCC_Wide/,Yes,21____21103888,21____21103888,21103888-s1#B
...,...,...,...,...,...,...,...,...
181,LivCan_080,Non-case,56,NaN,No,32____3208004E,32____32253231,32253231-s3#C
182,LivCan_375,Incident,383,HCC/,Yes,22____22281416,22____22281416,22281416-s1#B
183,LivCan_376,Non-case,383,NaN,No,22____22281701,22____22281701,22281701-s1#B
184,LivCan_165,Incident,147,HCC/,Yes,71____71000825,71____71000065,71000065-s2#C
185,LivCan_166,Non-case,147,NaN,No,71____71001996,71____71000216,71000216-s2#C

# Change form of the peak table

In [117]:
# Keep variable names in a separate list for the column names
variable_names = peakTable_HILIC_POS['dataMatrix'].values

# Transpose the peak table
peakTable_HILIC_POS = peakTable_HILIC_POS.iloc[:,1:].transpose()

# Reset the indexes
peakTable_HILIC_POS = peakTable_HILIC_POS.reset_index()

# Add a column with simplified file names
peakTable_HILIC_POS.insert(1, 'SampleID', ['_'.join(filename.split('_')[6:8]) for filename in metadata_HILIC_POS['sampleMetadata']])

# Delete column with full file name
peakTable_HILIC_POS = peakTable_HILIC_POS.iloc[:,2:]

# Add column names with variables
peakTable_HILIC_POS.columns = variable_names

In [118]:
peakTable_HILIC_POS

,variable_3,variable_5,variable_6,variable_7,variable_8,variable_10,variable_11,variable_14,variable_22,variable_23,...,variable_2339,variable_2340,variable_2350,variable_2353,variable_2364,variable_2365,variable_2368,variable_2370,variable_2375,variable_2379
0,19.761786,14.635833,22.185582,16.414744,12.615143,15.580604,15.881437,17.500899,12.792893,16.805604,...,12.052252,12.568647,13.192848,13.230752,12.248590,12.114328,14.269258,12.355017,13.114289,13.882526
1,19.735279,15.193396,20.831414,15.052533,NaN,15.145423,14.034654,17.953780,NaN,15.907714,...,13.020365,12.928643,13.697314,NaN,12.604052,NaN,NaN,12.208084,NaN,NaN
2,19.116076,15.446714,22.152604,16.410827,NaN,14.628890,15.316772,17.404715,12.786407,15.947176,...,NaN,NaN,NaN,13.330175,NaN,NaN,14.215988,NaN,12.955618,13.778398
3,19.376875,15.460525,22.169389,16.403964,12.720767,15.937169,15.967749,15.836957,NaN,16.371211,...,NaN,NaN,13.086805,13.304171,NaN,11.605353,14.284148,12.319119,13.058285,13.812829
4,19.555938,14.515536,22.150249,16.372219,12.314019,14.950203,15.294906,16.610171,12.214057,16.171763,...,NaN,NaN,NaN,13.306722,12.349830,11.926237,14.192775,NaN,13.006556,13.841201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,19.664978,14.447858,20.808503,15.027154,12.648327,14.806952,14.244917,17.126579,12.080710,15.388376,...,12.349299,11.505004,13.189121,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,19.301954,14.839941,21.085175,15.321075,12.510670,14.488147,15.163197,16.816591,12.452644,16.474456,...,12.909283,12.642143,NaN,NaN,12.708850,12.462751,12.175110,12.635066,NaN,NaN
183,19.170626,14.291711,21.381912,15.197205,12.499558,14.434959,14.520558,16.315887,12.808417,15.613263,...,12.846355,13.243400,NaN,NaN,12.199647,NaN,NaN,12.258149,NaN,NaN
184,18.869505,14.440576,20.961485,14.829978,12.312338,14.114074,13.776358,16.110117,12.667428,16.021372,...,12.477753,11.789382,NaN,NaN,11.628154,NaN,NaN,NaN,NaN,NaN
185,18.954904,NaN,20.005032,NaN,12.414258,NaN,NaN,15.432975,12.047361,15.443640,...,13.225899,12.978890,11.596877,NaN,NaN,NaN,NaN,12.158923,NaN,NaN

In [119]:
peakTable_HILIC_POS = EPIC_Liver_sample_informations.join(peakTable_HILIC_POS)
peakTable_HILIC_POS

,SampleID,Groups,MatchCaseset,TypTumo,CaseHCCWide,EPICID,EPICBioID,AliquotID,variable_3,variable_5,...,variable_2339,variable_2340,variable_2350,variable_2353,variable_2364,variable_2365,variable_2368,variable_2370,variable_2375,variable_2379
0,LivCan_153,Incident,82,HCC/,Yes,41____41041872,41____41041872,41041872-s2#C,19.761786,14.635833,...,12.052252,12.568647,13.192848,13.230752,12.248590,12.114328,14.269258,12.355017,13.114289,13.882526
1,LivCan_154,Non-case,82,NaN,No,41____41046868,41____41046868,41046868-s2#C,19.735279,15.193396,...,13.020365,12.928643,13.697314,NaN,12.604052,NaN,NaN,12.208084,NaN,NaN
2,LivCan_267,Incident,427,HCC/,Yes,41____41074588,41____41074588,41074588-s1#B,19.116076,15.446714,...,NaN,NaN,NaN,13.330175,NaN,NaN,14.215988,NaN,12.955618,13.778398
3,LivCan_268,Non-case,427,NaN,No,41____41089214,41____41089214,41089214-s1#B,19.376875,15.460525,...,NaN,NaN,13.086805,13.304171,NaN,11.605353,14.284148,12.319119,13.058285,13.812829
4,LivCan_299,Incident,376,HCC_Wide/,Yes,21____21103888,21____21103888,21103888-s1#B,19.555938,14.515536,...,NaN,NaN,NaN,13.306722,12.349830,11.926237,14.192775,NaN,13.006556,13.841201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,LivCan_080,Non-case,56,NaN,No,32____3208004E,32____32253231,32253231-s3#C,19.664978,14.447858,...,12.349299,11.505004,13.189121,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,LivCan_375,Incident,383,HCC/,Yes,22____22281416,22____22281416,22281416-s1#B,19.301954,14.839941,...,12.909283,12.642143,NaN,NaN,12.708850,12.462751,12.175110,12.635066,NaN,NaN
183,LivCan_376,Non-case,383,NaN,No,22____22281701,22____22281701,22281701-s1#B,19.170626,14.291711,...,12.846355,13.243400,NaN,NaN,12.199647,NaN,NaN,12.258149,NaN,NaN
184,LivCan_165,Incident,147,HCC/,Yes,71____71000825,71____71000065,71000065-s2#C,18.869505,14.440576,...,12.477753,11.789382,NaN,NaN,11.628154,NaN,NaN,NaN,NaN,NaN
185,LivCan_166,Non-case,147,NaN,No,71____71001996,71____71000216,71000216-s2#C,18.954904,NaN,...,13.225899,12.978890,11.596877,NaN,NaN,NaN,NaN,12.158923,NaN,NaN

# Save cleaned peak table in csv file

In [91]:
path_save_table = input('Enter absolute path to the folder to save the peak table : ')

Enter absolute path to the folder to save the peak table :  /home/vincentm/MLnotebooks/metabopipeline_notebooks/data/peakTable/original_peak_table

In [120]:
peakTable_HILIC_POS.to_csv(path_save_table + '/peakTable_HILIC_POS.csv', index = False, header=True)